In [1]:
#Task 1

In [2]:
#Food supply (kcal) data
import pandas as pd
import numpy as np
import seaborn as sns
kcal = pd.read_csv("C:/Users/vong2/OneDrive/Desktop/data301/project-group28-project/data/raw/Food_Supply_kcal_Data.csv")
fat = pd.read_csv("C:/Users/vong2/OneDrive/Desktop/data301/project-group28-project/data/raw/Fat_Supply_Quantity_Data.csv")

In [2]:
fat

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.0000,32.0002,3.4172,0.0,2.6734,1.6448,0.1445,0.6418,8.7428,...,9.2443,0.6503,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0000,14.4175,0.8972,0.0,4.2035,1.2171,0.2008,0.5772,3.8961,...,27.3606,0.5145,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,0.0000,15.3041,1.3130,0.0,6.5545,0.1539,1.4155,0.3488,11.0268,...,22.4638,0.1231,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,0.0000,27.7033,4.6686,0.0,3.2153,0.3872,1.5263,1.2177,14.3202,...,14.4436,0.2469,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.0000,16.3261,2.2673,0.0,2.5449,0.6555,0.5707,0.9640,7.0949,...,29.5211,0.1851,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.0000,33.2484,3.8238,0.0,3.7155,0.7839,1.1217,0.4079,26.4292,...,5.6211,0.6373,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,12.5401,2.0131,0.0,11.5271,0.5514,0.3847,0.2564,8.0010,...,23.6312,0.1667,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,0.0783,9.6005,1.6113,0.0,14.3225,0.6266,1.0070,0.1343,4.9010,...,15.2848,0.1567,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,0.0000,10.3796,2.9543,0.0,9.7922,0.3682,0.2455,0.0614,4.5674,...,26.9396,0.0789,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [3]:
kcal

,Country,Alcoholic Beverages,Animal Products,Animal fats,Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,Milk - Excluding Butter,...,Vegetal Products,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,0.0000,4.7774,0.8504,37.1186,0.1501,0.0000,1.4757,1.2006,2.4512,...,45.2476,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0
1,Albania,0.9120,16.0930,1.0591,16.2107,0.8091,0.1471,3.8982,3.8688,9.9441,...,33.9070,2.8244,2.7508,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0
2,Algeria,0.0896,6.0326,0.1941,25.0112,0.4181,0.1195,3.1805,1.2543,3.9869,...,43.9749,5.7638,2.0457,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0
3,Angola,1.9388,4.6927,0.2644,18.3521,0.0441,0.8372,2.3133,2.9302,0.5067,...,45.3184,4.2741,0.3525,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0
4,Antigua and Barbuda,2.3041,15.3672,1.5429,13.7215,0.2057,1.7280,3.6824,7.0356,4.6904,...,34.6225,4.6904,1.2960,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.8454,7.2303,0.6007,21.3126,0.2892,0.4449,2.3804,3.1368,2.6474,...,42.7586,7.5417,0.6674,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0
166,Vietnam,0.7150,10.9806,0.9363,26.9833,0.2894,1.0385,1.8046,7.8311,0.5618,...,39.0364,1.3279,1.9578,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0
167,Yemen,0.0000,3.4667,0.3394,32.0727,0.1455,0.1697,1.1879,2.0121,0.6545,...,46.5455,3.9515,0.3636,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0
168,Zambia,1.1925,3.3043,0.3230,31.5528,0.1988,0.5714,0.2236,1.5155,0.5217,...,46.7081,3.0062,0.4472,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0
169,Zimbabwe,1.4269,3.9356,0.6904,29.8044,0.1381,0.1611,0.4373,1.7491,1.0817,...,46.0759,6.2601,0.2532,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0

In [8]:
fat1 = fat[['Country','Obesity','Confirmed','Deaths','Recovered','Active','Population']]
fat1

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0
...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0
166,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0
167,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0
168,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0
169,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0

In [3]:
kcal['Confirmed cases in count'] = kcal['Population']*kcal['Confirmed']
kcal['Confirmed cases in count']

0      5.533000e+06
1      8.421200e+06
2      1.086290e+07
3      2.006200e+06
4      2.880000e+04
           ...
165    1.296430e+07
166    1.985000e+05
167    2.127000e+05
168    6.142700e+06
169    3.448700e+06
Name: Confirmed cases in count, Length: 170, dtype: float64

In [4]:
kcal['Active cases in count'] = kcal['Population']*kcal['Active']
kcal['Active cases in count']

0      4.895000e+05
1      3.189100e+06
2      3.139000e+06
3      1.112000e+05
4      9.400000e+03
           ...
165    6.846000e+05
166    4.820004e+04
167    8.399986e+03
168    7.178000e+05
169    4.788000e+05
Name: Active cases in count, Length: 170, dtype: float64

In [6]:
kcal1 = pd.concat([kcal['Confirmed cases in count'], kcal['Active cases in count']], axis = 1)
kcal1

     Confirmed cases in count  Active cases in count
0                5.533000e+06           4.895000e+05
1                8.421200e+06           3.189100e+06
2                1.086290e+07           3.139000e+06
3                2.006200e+06           1.112000e+05
4                2.880000e+04           9.400000e+03
..                        ...                    ...
165              1.296430e+07           6.846000e+05
166              1.985000e+05           4.820004e+04
167              2.127000e+05           8.399986e+03
168              6.142700e+06           7.178000e+05
169              3.448700e+06           4.788000e+05

[170 rows x 2 columns]

In [10]:
table = pd.concat([fat1, kcal1], axis = 1)
table

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population,Confirmed cases in count,Active cases in count
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0,5.533000e+06,4.895000e+05
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0,8.421200e+06,3.189100e+06
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0,1.086290e+07,3.139000e+06
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0,2.006200e+06,1.112000e+05
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0,2.880000e+04,9.400000e+03
...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0,1.296430e+07,6.846000e+05
166,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0,1.985000e+05,4.820004e+04
167,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0,2.127000e+05,8.399986e+03
168,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0,6.142700e+06,7.178000e+05
169,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0,3.448700e+06,4.788000e+05

In [19]:
table_set1 = table.iloc[:,[7,8]].div(100).round()
table_set1

     Confirmed cases in count  Active cases in count
0                     55330.0                 4895.0
1                     84212.0                31891.0
2                    108629.0                31390.0
3                     20062.0                 1112.0
4                       288.0                   94.0
..                        ...                    ...
165                  129643.0                 6846.0
166                    1985.0                  482.0
167                    2127.0                   84.0
168                   61427.0                 7178.0
169                   34487.0                 4788.0

[170 rows x 2 columns]

In [25]:
obesity_1 = pd.concat([fat1, table_set1], axis = 1)
obesity_1

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population,Confirmed cases in count,Active cases in count
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0,55330.0,4895.0
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0,84212.0,31891.0
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0,108629.0,31390.0
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0,20062.0,1112.0
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0,288.0,94.0
...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0,129643.0,6846.0
166,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0,1985.0,482.0
167,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0,2127.0,84.0
168,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0,61427.0,7178.0
169,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0,34487.0,4788.0

In [27]:
obesity = obesity_1.dropna().reset_index(drop=True)
obesity

,Country,Obesity,Confirmed,Deaths,Recovered,Active,Population,Confirmed cases in count,Active cases in count
0,Afghanistan,4.5,0.142134,0.006186,0.123374,0.012574,38928000.0,55330.0,4895.0
1,Albania,22.3,2.967301,0.050951,1.792636,1.123714,2838000.0,84212.0,31891.0
2,Algeria,26.6,0.244897,0.006558,0.167572,0.070767,44357000.0,108629.0,31390.0
3,Angola,6.8,0.061687,0.001461,0.056808,0.003419,32522000.0,20062.0,1112.0
4,Antigua and Barbuda,19.1,0.293878,0.007143,0.190816,0.095918,98000.0,288.0,94.0
...,...,...,...,...,...,...,...,...,...
156,Venezuela (Bolivarian Republic of),25.2,0.452585,0.004287,0.424399,0.023899,28645000.0,129643.0,6846.0
157,Vietnam,2.1,0.002063,0.000036,0.001526,0.000501,96209000.0,1985.0,482.0
158,Yemen,14.1,0.007131,0.002062,0.004788,0.000282,29826000.0,2127.0,84.0
159,Zambia,6.5,0.334133,0.004564,0.290524,0.039045,18384000.0,61427.0,7178.0
160,Zimbabwe,12.3,0.232033,0.008854,0.190964,0.032214,14863000.0,34487.0,4788.0